.App {
  text-align: center;
  font-family: Poppins, sans-serif;
}

.App-logo {
  height: 40vmin;
  margin-bottom: 2ex;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
