#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 33vw;
  margin-left: auto;
  margin-right: auto;
  #user,
  #pw {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 6px;
    height: 5ex;

    border: 1px solid black;
    border-radius: 4px;
  }
}
#enterButton {
  margin-top: 20px;
  #enter {
    width: 16vw;
    height: 5ex;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 8px;
    border: 1px solid black;
  }
}
