.home {
  text-align: center;
  font-family: Poppins, sans-serif;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
    .title {
      margin-bottom: 1ex;
    }
    .logo {
      height: 40vh;
      margin-bottom: 1ex;
      margin-top: 1ex;
    }
  }
}
