.sidebar {
  position: absolute;
  background-color: #adc2eb;
  margin: 0;
  width: 5.5em;
  margin-top: 1%;
  border-radius: 0 25px 25px 0;
  height: 90%;
  ul {
    list-style-type: none;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.25em;
    margin: 0;
    li {
      margin-top: 1ex;
      margin-bottom: 1ex;
    }
    li:hover {
      background-color: rgb(91, 187, 247);
      border-radius: 0 25px 0 0;
    }
    img {
      max-width: 5em;
      border-radius: 50%;
    }
  }
}
