.achievements-container {
  height: 85vh;
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10%;
  color:rgba(255, 255, 255, 1);
  .box {
    height: 100%;
    border: 10px solid white;
    border-radius: 25px;
    margin: 5px;
    #progressbar {
      width: 75%;
      margin: 2ex auto 0 auto;
      height: 3ex;
      border: 5px solid white;
      border-radius: 10px 10px 10px 10px;
    }
    #token-holder {
      text-align: center;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(7, 1fr);
      span{
        text-align: center;
        padding-top:10%;
        border: 2px solid white;
        border-radius: 10px 10px 10px 10px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    }
  }
  margin-bottom: 4ex;
}
