.achievements-container {
  height: 85vh;
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10%;

  .box {
    height: 100%;
    border: 10px solid white;
    border-radius: 25px;
    margin: 5px;
    #token-holder {
      img {
        border-radius: 50%;
        max-width: 20em;
      }
    }
  }
  margin-bottom: 4ex;
}
